
.container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: 80vh;
    color: white;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    opacity: 50%;
    max-width:none ;
}
.back img {
    min-height:80vh;
}

.left {
    grid-column: 1 / 17;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.text {
    grid-column: 3 / 6;
    margin-top: 5rem;
}

.right {
    grid-column: 17 / -1;
    background-color: rgb(27, 27, 112);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}
.list li {
    color: white;
    margin-bottom: 4rem;
}